<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?><web-app>
<!--
  <servlet>
    <servlet-name>myservlet1</servlet-name>
    <servlet-class>aaa.testServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>myservlet1</servlet-name>
    <url-pattern>/servlet/myservlet.do</url-pattern>
  </servlet-mapping>
  -->
 <Context path="/TranslatorApp"/>

</web-app>