<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?><web-app>

  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>translatorapp.MenuServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainMenu</url-pattern>
  </servlet-mapping>

 
 <Context path="/TranslatorApp"/>

</web-app>