/*
Accent (red)      - rgb(233,55,55)
Light  (white)    - rgb(233,234,233)
Gray   (gray)     - rgb(164,164,164)
Dark   (darkgray) - rgb(59,59,59)
 */
body{
    background-color:#eeeeee;
    margin-left:0;
    margin-top:0;
}
#mainBody{
    /*Active area */
    height:417px;
    width:790px;
    overflow:hidden;
    margin-left:0px;
    margin-top:0px;

    color:rgb(59,59,59);
    background-color:rgb(164,164,164);
    background: radial-gradient(#c9cddc, #a0a0a0);
    font-size:15px;
    font-family:calibri;
    font-weight:bold;
}
#mainUI{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    overflow:hidden;
    height:397px;
    justify-content:space-between;
    padding:20px 10px;
    box-sizing:border-box;
    align-items:center;
}
h1, h2, h3{
    font-size:15px;
    color:white;
    margin:5px 10px;
}
h1{
    border-left-style:solid;
    border-color:white;
    border-width:2px;
    padding-left:5px;
    margin-left:0px;
    vertical-align:middle;
}
.header{
    width:100%;
    background-color:rgb(59,59,59);
}
.header img{
    padding:5px 5px 5px 10px;
    height:20px;
    vertical-align:middle;
}
button{
   background:none;
   border-style:none;
   padding:0;
}
.header > *{
    display:inline-block;
}
#overlay .header{
    display:flex;
    justify-content:space-between;
}
#overlay .header button{
    margin:0 5px;
}
.main > p{
    margin:0;
    align-self:flex-end;
    width:100%;
}
#mainUI form {
    width:197px;
}
button.close{
	background: url('../img/closeIcon.png') left center no-repeat;
}
button.back{
	background: url('../img/backArrow.png') left center no-repeat;
}
button.close, button.back{
	height: 40px;
	width: 40px;
}
form{
    background-color:rgb(233,234,233);
    border-radius:5px;
    margin:0;
}
form .header{
    background-color:rgb(223,55,55);
    box-shadow:inset 0px 0 20px 6px rgba(76,6,6,0.18);
}
#mainUI form .main{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding:8px;    
}
form button img, .longButton{
    background-color:rgb(59,59,59);
    text-align:center;
    color:white;
    border-radius:5px;
    box-shadow:2px 4px 5px 0 rgba(0,0,0,0.42);
    border-style:none;
    padding:0;
}
form button img{
    width:54px;
    height:49px;
    display:inline-block;
 }
form button{
    border-style:none;
    padding:0;
    background-color:inherit;
}
button p{
    margin-bottom:0px;
    margin-top:1em;
}
button:active{
    margin-bottom:-4px;
}
button img:active{
    box-shadow:0px 0px 0px 0 rgba(0,0,0,0);
}
form .longButton{
    flex:1 100%;
    margin-top:5px;
    padding:7px 0px;
    margin-bottom:10px;
    max-height: 30px;
}
form .longButton:active{
    margin-bottom:7px;
    margin-top:8px;
    box-shadow:0px 0px 0px 0 rgba(0,0,0,0);
}
form .main img{
    display:block;
    margin:auto;
}

#mainUI > *, #overlay > *{
    box-shadow:0 0 11px 3px rgba(0,0,0,0.42);
}
#overlay{
    background-color:rgba(0,0,0,0.42);
    position:absolute;
    top:0;
    height: 417px;
    width: 790px;
}
#overlay .header{
    height:40px;
}
#overlay h2, #overlay p{
    font-size:21px;
}
#overlay form{
    margin:13% auto auto auto;
    width:422px;
    padding-bottom: 5px;
    height:232px;
}
#overlay form .main{
	min-width: 100%;
	height: 192px;
  	display: flex;
  	flex-wrap: wrap;
	justify-content: center;
}
#languageOptionsMain{
	padding-top: 5px;
	flex-wrap: wrap;
	justify-content: center;
}
#languageOptionsMain .longButton{
	max-width: 40%;
	margin-left: 10px;
	margin-right: 10px;
}
#languageOptionsMain .longButton.selected{
	color: black;
	background-color: lightgrey;
	box-shadow: inset 2px 4px 5px rgba(0,0,0,0.42);;
}
#fileExplorer .main{
	min-width: 100%;
	height: 192px;
  	display: flex;
    flex-wrap: wrap;
    justify-content: center;
  	overflow-y: auto;
}
#overlay #fileExplorer{
	width: 600px;
}
#fileExplorer .header{
	box-shadow: 0px 7px 20px #555;
}
#fileExplorer .main p{
	padding-bottom: 10px;
	color: #777;
	text-align: center;
}
#fileExplorer .main .button p{
	font-size:10px;
	color: black;
	padding-bottom: 0px;
}
#fileExplorer .main .button{
	min-width: 60px;
	min-height: 60px;
  	margin: 15px;
}
#fileExplorer .main img{
    width: 60px;
    height: 60px;
    border-radius:11px;
}
#fileExplorer .main .button img{
    width: 60px;
    height: 60px;
    border-radius:11px;
}
#pickCloud{
    display:none;
}
#overlay, #overlay > *{
    display:none;
}
#overlay.show, #overlay > .show{
    display:block;
}
iframe{
    border:none;
    height:100%;
    width:327px;
    background-color:rgb(233,234,233);
    border-radius:5px;
    display:none;
}
#loadingOverlay{
	background-image: url('../gif/loadingAnimation.gif') no-repeat 5px 3px;
	/*background-color: grey;*/
	padding-left: 20px;
}
.colorblock{
	padding:20px;
	border-style:solid;	
	margin:15px;
}
#edited, #canvasContainer{
	height:100%;
	border-style:solid;
	width:327px;
    background-color:rgb(233,234,233);
    border-radius:5px;
    margin:0;
    padding:0;
}
.textlayer{
	background-color:white;
}
.textLayer > div{
	position:relative;
	white-space:pre;
	transform-origin:0% 0%;
}
#canvasContainer{
	overflow:hidden;
}
#viewer{
}
